{% extends "base.html" %}

{% block content %}
    <div>
        <p><b>Todo.sh</b> - новый и инновационный подход к спискам задач. Только в Todo.sh<small>*</small>:</p>
        <ul>
            <li>Уникальная система тегов и приоритетов</li>
            <li>Комментарии к задачам</li>
            <li>Удобный веб интерфейс</li>
            <li>Уведомления в Telegram</li>
            <li>Открытый исходный код</li>
        </ul>
        <div class="alert alert-primary">
            <b>Todo.sh</b> доверяют уже <b>{{ users }}</b> довольных пользоваетелей, которые
            хранят <b>{{ tasks }}</b> задач, отсортированных по <b>{{ tags }}</b> тегов!
        </div>

        <small>* по данным на 1991 год</small>
    </div>
{% endblock %}